#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

header {
  width: 887px;
  height: 76px;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

nav {
  width: 660px;
  /* align-items: baseline; */
}


li {
  margin: 0;
  list-style-type: none;
  display: inline;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 20px;
}

a {
  color: black;
}